@import url(./variable.css);

/* Login Start */
.login {
    overflow: auto;
}

 
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-card {
    max-width: 1250px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.login-form-sec {
    padding: 95px 142px 60px;
}

.login-logo {
    margin-bottom: 82px;
}

.login-content-sec {
    padding: 78px;
    height: 100%;
}

.login-bg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    mix-blend-mode: multiply;
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Login End */




/* common-css start */
body{
    overflow: hidden;
}
.rounded-10{
    border-radius: 10px;
}
.p-20{
    padding: 20px;
}

.form-title{
    font-size: var(--font-20);
    color: var(--secondary-85);
    font-family: var(--raleway_semiBold);
    letter-spacing: var(--letter-spacing-0_15);
}
.form-title::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-85);
    left: -20px;
}

/* common-css end */


/* side-nav css start */
.side-nav {
    max-width: 260px;
    width: 100%;
    overflow-y: auto;
    transition: max-width ease 0.2s;
    overflow-x: hidden;
}

.side-nav .nav-link {
    border-radius: 8px;
}

.side-nav .nav-link:hover, .side-nav .nav-link.active {
    background-color: var(--white);
    color: var(--secondary);
}

.navbar-brand {
    width: 236px;
}

body.small-side-nav .side-nav, 
body.small-side-nav .navbar-brand {
    max-width: 72px;
    width: 100%;
}

body.small-side-nav .side-nav span img {
    width: 24px;
}

.side-nav .nav-title {
    display: inline-block;
    white-space: nowrap;
}

body.small-side-nav .side-nav .nav-title {
    display: none;
    opacity: 0;
}
.logo-small, body.small-side-nav .nav-logo {
    display: none;
}
body.small-side-nav .logo-small {
    display: block;
}
.custom-nav {
    box-shadow: 0px 4px 4px rgba(33, 37, 41, 0.05);
}
.custom-shadow {
    box-shadow: 0px 2px 10px rgba(76, 78, 100, 0.22);
}
.custom-nav .dropdown-menu {
    min-width: 9rem;
    border-radius: 8px;
}
/* side-nav css end */


/* data-assessment-section css start */
.data-assessment-section .assessment-form textarea.form-control{
    resize: none;
}
/* data-assessment-section css end */



/* upload-data-section css start */
.upload-data-section .file-upload{
    border: 2px dashed #D9D9D9;
    padding: 25px 20px;
    border-radius: 13px;
}
.upload-data-section .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-data-section .data-upload-form .btn.btn-primary{
    padding-left: 20px;
    padding-right: 20px;
}
.upload-data-main .file-upload-status .progress-line{
    height: 3px;
    width: 100%;
}
.data-table .nav-tabs .nav-link.active,.data-table .nav-tabs .nav-link:hover{
    border : 0;
    border-bottom: 4px solid var(--primary);
    color: var(--secondary-85);
    background: transparent;
}
/* .upload-data-section .data-table .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border : 0;
    border-bottom: 4px solid #63666A40;
    color: var(--secondary-85);
    background: transparent;
} */
.data-table .nav-tabs .nav-link{
    border : 0;
    border-bottom: 4px solid #63666A40;
    color: var(--secondary-85);
    background: transparent;
}
.data-table .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--secondary-3);
    color: var(--bs-table-striped-color);
    background-color: var(--secondary-3);
}
.data-table .table>:not(caption)>*>*{
    border-color: var(--secondary-10);
}
.upload-data-section .data-table tbody {
    border-top: 0;
}
.data-table .table-striped tr td:first-child {
    padding-left: 20px;
}
.data-table .table-striped>tbody>tr:nth-of-type(odd) td:first-child{
    padding-left: 20px;
}
.data-table .table-striped tr td:last-child {
    padding-right: 20px;
}
.data-table .table-striped>tbody>tr:nth-of-type(odd) td:last-child{
    padding-right: 20px;
}
.data-table .table thead tr td{
    padding-top: 22px;
    padding-bottom: 22px;
}
/* upload-data-section css end */



/* User Guide Start */
.table-content a {
    letter-spacing: var(--letter-spacing-0_15);
    font-size: var(--font-17);
    color: var(--secondary-75);
    text-decoration: none;
    margin-bottom: 24px;
    display: inline-block;
}
.left-sec, .right-sec  {
    height: 100%;
}
/* User Guide End */



/* program-assessment-section css start */
.program-assessment-section .select-dropdown{
    border: 1px solid var(--secondary-25);
    border-radius: 8px;
}
.program-assessment-section .chart-list{
    border: 1px solid var(--secondary-25);
    border-radius: 8px;
}
.program-assessment-section .chart-list:hover{
    cursor: -webkit-grab; 
    cursor: grab;
}
.program-assessment-section .accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
}
.program-assessment-section .accordion-button:focus{
    box-shadow: none;
}
.program-assessment-section .btn-check:focus+.btn, 
.program-assessment-section .btn:focus{
    border-color: var(--primary);
    box-shadow: none;
}
.program-assessment-section .dropdown-menu{
    min-width: 410px;

}
.program-assessment-section select.form-control{
    background-image: url("/assets/images/dropdown-custom-arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position: right 15px center;
}
.program-assessment-section .accordion-button::after{
    background-image: url("/assets/images/dropdown.svg");
    background-size: 12px;
    height: 12px;
    width: 12px;
}
/* program-assessment-section css end */


/* select2 css start */  
.select2{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple{
    border: 1px solid var(--secondary-25);
    border-radius: 8px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    font-size: var(--font-12);
    font-family: var(--raleway);
    letter-spacing: var(--letter-spacing-0_4);
    background-color: var(--secondary-3);
    border: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    background-color: var(--secondary-25);
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/close.svg");
    background-repeat: no-repeat;
    color: transparent;
    background-position: center;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    color: transparent;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    display: flex;
    align-items: center;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    min-height: 37px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    display: flex;
    flex-wrap: wrap;
    min-height: 37px;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 25px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear{
    position: absolute;
    right: 0;
    margin-top: 4px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: var(--secondary-25);
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--primary-25);
    color: var(--secondary);
}
.select2-dropdown{
    border-color: var(--secondary-25);
}
.select2-results__option{
    font-size: var(--font-14);
    font-family: var(--raleway);
}
/* select2 css end */



/* program-planner-section css start */
.program-planner-section .accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
}
.program-planner-section .btn-check:focus+.btn, 
.program-planner-section .btn:focus{
    border-color: var(--primary);
    box-shadow: none;
}
.program-planner-section .dropdown-menu{
    min-width: 410px;

}
.program-planner-section select.form-control{
    background-image: url("/assets/images/dropdown-custom-arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position: right 15px center;
}
.program-planner-section .accordion-button::after{
    background-image: url("/assets/images/dropdown.svg");
    background-size: 12px;
    height: 12px;
    width: 12px;
}
.program-planner-section .accordion-button:focus{
    box-shadow: none;
}
.program-planner-data-table-section .data-table tbody {
    border-top: 0;
}
.data-table .table-input{
    width: 80px;
    text-align: center;
    line-height: 22px;
    border-radius: 4px;
    border: 1px solid var(--primary);
}
.data-table .table-striped>tbody>tr:nth-of-type(odd) td:last-child.fg-red{
    color: var(--error-fg);
}
.program-planner-data-table-section button:focus:not(:focus-visible){
    box-shadow: none;
}
.program-planner-data-table-section .page-link.page-number{
    border-radius: 4px;
    background-color: var(--secondary-25);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.program-planner-data-table-section .page-link:focus,
.program-planner-data-table-section .page-link:hover{
    background-color: var(--primary);
    box-shadow: none;
}
/* program-planner-section css end */