@import url(./variable.css);

/* Login Start */
.login {
    overflow: auto;
}

 
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-card {
    max-width: 1250px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.login-form-sec {
    padding: 95px 142px 60px;
}

.login-logo {
    margin-bottom: 82px;
}

.login-content-sec {
    padding: 78px;
    height: 100%;
}

.login-bg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    mix-blend-mode: multiply;
    opacity: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Login End */




/* common-css start */
body{
    overflow: hidden;
}
.rounded-10{
    border-radius: 10px;
}
.p-20{
    padding: 20px;
}

.form-title{
    font-size: var(--font-20);
    color: var(--secondary-85);
    font-family: var(--raleway_semiBold);
    letter-spacing: var(--letter-spacing-0_15);
}
.form-title::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-85);
    left: -20px;
}

/* common-css end */


/* side-nav css start */
.side-nav {
    max-width: 260px;
    width: 100%;
    overflow-y: auto;
    transition: max-width ease 0.2s;
    overflow-x: hidden;
}

.side-nav .nav-link {
    border-radius: 8px;
}

.side-nav .nav-link:hover, .side-nav .nav-link.active {
    background-color: var(--white);
    color: var(--secondary);
}

.navbar-brand {
    width: 236px;
}

body.small-side-nav .side-nav, 
body.small-side-nav .navbar-brand {
    max-width: 72px;
    width: 100%;
}

body.small-side-nav .side-nav span img {
    width: 24px;
}

.side-nav .nav-title {
    display: inline-block;
    white-space: nowrap;
}

body.small-side-nav .side-nav .nav-title {
    display: none;
    opacity: 0;
}
.logo-small, body.small-side-nav .nav-logo {
    display: none;
}
body.small-side-nav .logo-small {
    display: block;
}
.custom-nav {
    box-shadow: 0px 4px 4px rgba(33, 37, 41, 0.05);
}
.custom-shadow {
    box-shadow: 0px 2px 10px rgba(76, 78, 100, 0.22);
}
.custom-nav .dropdown-menu {
    min-width: 9rem;
    border-radius: 8px;
}
/* side-nav css end */


/* data-assessment-section css start */
.data-assessment-section .assessment-form textarea.form-control{
    resize: none;
}
/* data-assessment-section css end */



/* upload-data-section css start */
.upload-data-section .file-upload{
    border: 2px dashed #D9D9D9;
    padding: 25px 20px;
    border-radius: 13px;
}
.upload-data-section .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-data-section .data-upload-form .btn.btn-primary{
    padding-left: 20px;
    padding-right: 20px;
}
.upload-data-main .file-upload-status .progress-line{
    height: 3px;
    width: 100%;
}
.upload-data-section .data-table .nav-tabs .nav-link.active,.upload-data-section .data-table .nav-tabs .nav-link:hover{
    border : 0;
    border-bottom: 4px solid var(--primary);
    color: var(--secondary-85);
    background: transparent;
}
/* .upload-data-section .data-table .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border : 0;
    border-bottom: 4px solid #63666A40;
    color: var(--secondary-85);
    background: transparent;
} */
.upload-data-section .data-table .nav-tabs .nav-link{
    border : 0;
    border-bottom: 4px solid #63666A40;
    color: var(--secondary-85);
    background: transparent;
}
.upload-data-section .data-table .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--secondary-3);
    color: var(--bs-table-striped-color);
    background-color: var(--secondary-3);
}
.upload-data-section .data-table .table>:not(caption)>*>*{
    border-color: var(--secondary-10);
}
.upload-data-section .data-table tbody {
    border-top: 0;
}
.upload-data-section .data-table .table-striped tr td:first-child {
    padding-left: 20px;
}
.upload-data-section .data-table .table-striped>tbody>tr:nth-of-type(odd) td:first-child{
    padding-left: 20px;
}
.upload-data-section .data-table .table-striped tr td:last-child {
    padding-right: 20px;
}
.upload-data-section .data-table .table-striped>tbody>tr:nth-of-type(odd) td:last-child{
    padding-right: 20px;
}
/* upload-data-section css end */



/* User Guide Start */
.table-content a {
    letter-spacing: var(--letter-spacing-0_15);
    font-size: var(--font-17);
    color: var(--secondary-75);
    text-decoration: none;
    margin-bottom: 24px;
    display: inline-block;
}
.left-sec, .right-sec  {
    height: 100%;
}
/* User Guide End */



  


